body {
    font-family: Georgia, serif;
    position: absolute;
    top:10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1000px;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social a {
    display: inline-block;
    margin: 0 10px;
}

.social img {
    border: 0;
    vertical-align: middle;
}

.bio {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.4;
}
